.first-container {
  background-color: #2c3930;
  position: relative;
  padding-top: 100px;
  height: 500px;
}

.me {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: #a27b5c 5px solid;
}

div {
  display: block;
  unicode-bidi: isolate;
}

body {
  color: white;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

.para {
  margin-right: 170px;
  margin-left: 170px;
}

.second-container {
  background-color: #3f4f44;
  position: relative;
  padding-top: 90px;
  height: 500px;
}

.third-container {
  background-color: #a27b5c;
  position: relative;
  padding-top: 100px;
  height: 500px;
}

.fourth-container {
  background-color: #dcd7c9;
  position: relative;
  padding-top: 100px;
  height: 150px;
}
